.body {
  font-family: "Radio Canada Big";
}

.main-header {
  display: flex;
  color: black;
  justify-content: center;
  background-color: transparent;
  width: 100.8%;
  margin: -10px;
  height: auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.desktop-links {
  transform: translateY(40%);
  font-size: 1.4rem;
  font-weight: 600;
}

.individual-link {
  padding: 0px;
  margin: 20px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}

.individual-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 0%;
  height: 4px; /* Height of the underline */
  background-color: #000; /* Color of the underline */
  transition: width 0.4s ease; /* Smooth transition for the underline */

}

.individual-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 100%;
  height: 4px; /* Height of the underline */
  background-color: #000; /* Color of the underline */
}

.HeaderLogo {
  height: 13vh;
  position: relative;
  cursor: pointer;
  right: 100px;
}

.menu-button {
  background: none !important;
  background-color: transparent !important; 
  border: none;
  outline: none !important;
  z-index: 1000;
  }

.menu-icon {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 400px;
  z-index: 1000;
  }

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  z-index: 1000;
}

.menu-icon span:nth-child(1) {
  top: 0;
  width: 100%;
}

.menu-icon span:nth-child(2) {
  top: 8px;
  width: 100%;
}

.menu-icon span:nth-child(3) {
  top: 16px;
  width: 100%;
  left: 0%;
  transform-origin: left;
}

.menu-icon span:nth-child(4) {
  top: 16px;
}

.menu-button.open .menu-icon span:nth-child(1) {
  top: 8px;
  width: 100%;
  background: #000;
  transform: rotate(46deg);
}

.menu-button.open .menu-icon span:nth-child(2) {
  opacity: 0;
  background: #000;
}

.menu-button.open .menu-icon span:nth-child(3) {
  top: 15px;
  width: 100%;
  left: 0%;
  background: #000;
  transform: rotate(-50deg) translateY(150%);
}

.menu-overlay {
  position: fixed;
  top: 104px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.menu-items {
  text-align: end;
  color: black;
  font-weight: 700;
  display: block;
}

.menu-items > .menu-item {
  margin: 10px;
  margin-top: 80px;
  margin-bottom: 100px;
  transform: translateY(-180%) translateX(20%);
  cursor: pointer;
  position: relative;
  width: 100%;
}

.menu-items > .menu-item {
  transition: text-decoration 3s;
}
.menu-items:hover > .menu-item {
  color: rgb(168, 168, 177);
}

.menu-items:hover > .menu-item:hover {
  color: rgb(255, 255, 255);
}

  @media (max-width: 767.98px) {

    .HeaderLogo {
        margin-right: 10px;
        height: 12vh;
        left: -100px;
        right: 0px;
    }

    .desktop-links {
    display: none;
    }
    .main-header {
      padding: 0;
      height: auto;
      width: 100vmin;
    }

    .menu-icon {
        left: 100px;
    }

    .menu-button.open {
        border: none !important;
      }

    .menu-items {
        font-size: 1.6rem;
      }
      
}