.body {
  font-family: "Radio Canada Big";
}

.main-header {
  display: flex;
  position: fixed;
  color: black;
  justify-content: center;
  background-color: white;
  width: 100.9%;
  margin: -10px;
  height: auto;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.desktop-links {
  transform: translateY(45%);
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -.4px;
}

.individual-link {
  padding: 0px;
  margin: 20px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgb(65, 95, 77);
  transition: opacity .4s ease; /* Smooth transition for the underline */

}

.individual-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 0%;
  height: 4px; /* Height of the underline */
  background-color: #000; /* Color of the underline */
  transition: width 0.4s ease; /* Smooth transition for the underline */
}

.individual-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 100%;
  height: 4px; /* Height of the underline */
  background-color: rgb(84, 102, 100);
}

.HeaderLogo {
  height: 13vh;
  margin-right: 100px;
  position: relative;
  cursor: pointer;
}

.menu-button {
  background: none !important;
  background-color: transparent !important; 
  border: none;
  outline: none !important;
  z-index: 180;
  }

.menu-icon {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 400px;
  z-index: 160;
  }

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease;
}

.menu-icon span:nth-child(1) {
  top: 0;
  width: 100%;
}

.menu-icon span:nth-child(2) {
  top: 8px;
  width: 100%;
}

.menu-icon span:nth-child(3) {
  top: 16px;
  width: 100%;
  left: 0%;
  transform-origin: left;
}

.menu-icon span:nth-child(4) {
  top: 16px;
}

.menu-button.open .menu-icon span:nth-child(1) {
  top: 8px;
  width: 100%;
  background: #000;
  transform: rotate(46deg);
}

.menu-button.open .menu-icon span:nth-child(2) {
  opacity: 0;
  background: #000;
}

.menu-button.open .menu-icon span:nth-child(3) {
  top: 15px;
  width: 100%;
  left: 0%;
  background: #000;
  transform: rotate(-50deg) translateY(150%);
}

.menu-overlay {
  position: fixed;
  top: 12.8%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.menu-items {
  text-align: end;
  color: rgb(65, 95, 77);
  display: block;
}

.menu-items > .menu-item {
  margin: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  transform: translateY(-120%) translateX(20%);
  cursor: pointer;
  position: relative;
  width: 100%;
}

.menu-items > .menu-item {
  transition: text-decoration 3s;
}
.menu-items:hover > .menu-item {
  color: rgb(168, 168, 177);
}

.menu-items:hover > .menu-item:hover {
  color: rgb(255, 255, 255);
}

  @media (max-width: 767.98px) {

    .HeaderLogo {
        margin-right: 180px;
        height: 12vh;
    }

    .desktop-links {
    display: none;
    }
    .main-header {
      padding: 0;
      height: auto;
      width: 100vmin;
    }

    .menu-icon {
        left: 10px;
    }

    .menu-button.open {
        border: none !important;
      }

    .menu-items {
        font-size: 1.6rem;
        font-weight: 800;
      }
}

.carousel-container {
  user-select: none; /* Prevents text and other elements from being selectable */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 68vh;
  transform: translateY(15%);
  z-index: 80;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(250,250,250,1) 67%, rgba(37,135,60,1) 67%, rgba(5,32,11,1) 98%);
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); /* Use cubic-bezier for smoother animation */
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 34vw;
  transform: translateX(160%) translateY(20%);
  height: 46vh;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
  border-radius: 4px;
}

.arrow {
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  width: 40px; /* Set width and height to create a full circle */
  height: 40px;
  border-radius: 50%; /* Use border-radius to create a circle */
  background-color: #fff;
  color: black;
  border: none;
  padding: 0; /* Remove padding to make it a full circle */
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}

.arrow:hover{
  color: #7e9483;
}

.arrow.prev {
  left: 120px;
}

.arrow.next {
  right: 100px;
}

.slide-content {
  transform: translateY(-100%) translateX(4.6%);
  font-family: "Radio Canada Big";
}

.carousel-category {
  font-size: 1rem;
  color: #2fa74b;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -10px;
  transform: translateY(100%);
}

.carousel-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.carousel-details{
  font-size: 1.2rem;
  color: #7e9483;
  margin-top: -10px;
  width: 70vmin;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: -140px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  z-index: 90;
  cursor: pointer;
  border: 10px solid #f0f0f0;
  
}

.Hameedsheading {
  position: fixed;
  font-size: 12rem;
  color: silver;
  opacity: 0.4;
  letter-spacing: -10px;
  transform: rotate(180deg) translateY(-60%) translateX(0%);
}

.dot.active {
  border: 10px solid green;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.learnmorebutton {
  padding: 10px;
  cursor: pointer;
  letter-spacing: -1px;
  font-size: 1.1rem;
  background-color: #bcd8c2;
  border: none;
  font-weight: 600;
  color: #000;
}

.learnmorebutton:hover{
  opacity: 0.8;
}

.learnmorearrow{
  margin: 10px;
  position: relative;
}

@media (max-width: 767.98px) {

  .carousel {
    transform: translateY(18%);
    background: none;
    height: 80vh;
  }

  .slide img {
    width: 100vw;
    height: 32vh;
    transform: none;
  }

  .slide-content {
    transform: translateY(0%) translateX(1%);
  }

  .Hameedsheading {
  font-size: 4.5rem;
  color: silver;
  letter-spacing: -2px;
  opacity: 0.2;
  transform: rotate(180deg) translateY(-340%) translateX(-10%);
}

.carousel-category {
  font-size: .8rem !important;
  color: #2fa74b;
  font-weight: 600;
  margin-top: -10px;
  transform: translateY(80%);
}

.carousel-title {
  font-size: 1.6rem;
  font-weight: 900;
  width: 88vmin;
}

.carousel-details{
  font-size: 1rem;
  color: #658f6f;
  width: 70vmin;
}

.learnmorebutton {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #bcd8c2;
  border: none;
  font-weight: 600;
}

.learnmorearrow{
  margin: 10px;
}

  .arrow {
   
    top: 24%;
    font-size: 12px;
  }

  .dots {
    display: flex;
    justify-content: end;
    margin-top: -40px;
    margin-left: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border: 10px solid white;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .arrow.prev {
    left: 10px;
  }
  
  .arrow.next {
    right: 10px;
  }  

}