.body {
  font-family: "Radio Canada Big";
}

.main-header {
  display: flex;
  position: fixed;
  color: black;
  justify-content: center;
  background-color: white;
  width: 100.9%;
  margin: -10px;
  height: auto;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.desktop-links {
  transform: translateY(45%);
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -.4px;
}

.individual-link {
  padding: 0px;
  margin: 20px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgb(65, 95, 77);
  transition: opacity .4s ease; /* Smooth transition for the underline */

}

.individual-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 0%;
  height: 4px; /* Height of the underline */
  background-color: #000; /* Color of the underline */
  transition: width 0.4s ease; /* Smooth transition for the underline */
}

.individual-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the distance of the underline from the text */
  width: 100%;
  height: 4px; /* Height of the underline */
  background-color: rgb(84, 102, 100);
}

.HeaderLogo {
  height: 13vh;
  margin-right: 100px;
  position: relative;
  cursor: pointer;
}

.menu-button {
  background: none !important;
  background-color: transparent !important; 
  border: none;
  outline: none !important;
  z-index: 180;
  }

.menu-icon {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 400px;
  z-index: 160;
  }

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease;
}

.menu-icon span:nth-child(1) {
  top: 0;
  width: 100%;
}

.menu-icon span:nth-child(2) {
  top: 8px;
  width: 100%;
}

.menu-icon span:nth-child(3) {
  top: 16px;
  width: 100%;
  left: 0%;
  transform-origin: left;
}

.menu-icon span:nth-child(4) {
  top: 16px;
}

.menu-button.open .menu-icon span:nth-child(1) {
  top: 8px;
  width: 100%;
  background: #000;
  transform: rotate(46deg);
}

.menu-button.open .menu-icon span:nth-child(2) {
  opacity: 0;
  background: #000;
}

.menu-button.open .menu-icon span:nth-child(3) {
  top: 15px;
  width: 100%;
  left: 0%;
  background: #000;
  transform: rotate(-50deg) translateY(150%);
}

.menu-overlay {
  position: fixed;
  top: 11.6%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.menu-items {
  text-align: end;
  text-decoration: none !important;
  display: block;
}

.menu-items > .menu-item {  
  transform: translateY(-580%) translateX(0%);
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 80px;
  margin-left: 0px;
  text-align: center;
}

.menulink {
  text-decoration: none;
  color: rgb(65, 95, 77) !important;
  margin: 180px;
}
.menu-items > .menu-item {
  
  transition: text-decoration 3s;
}
.menu-items:hover > .menu-item {
  color: rgb(168, 168, 177);
}

.menu-items:hover > .menu-item:hover {
  color: rgb(255, 255, 255);
}

  @media (max-width: 767.98px) {

    .HeaderLogo {
        margin-right: 180px;
        height: 12vh;
    }

    .desktop-links {
    display: none;
    }
    .main-header {
      padding: 0;
      height: auto;
      width: 100vmin;
    }

    .menu-icon {
        left: 10px;
    }

    .menu-button.open {
        border: none !important;
      }

    .menu-items {
        font-size: 1.8rem;
        font-weight: 800;
      }
}

.carousel-container {
  user-select: none; /* Prevents text and other elements from being selectable */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80vh;
  transform: translateY(10%);
  z-index: 80;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(250,250,250,1) 67%, rgba(37,135,60,1) 67%, rgba(5,32,11,1) 98%);
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); /* Use cubic-bezier for smoother animation */
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 34vw;
  transform: translateX(160%) translateY(20%);
  height: 46vh;
  border-radius: 4px;
}

.arrow {
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  width: 40px; /* Set width and height to create a full circle */
  height: 40px;
  border-radius: 50%; /* Use border-radius to create a circle */
  background-color: #fff;
  color: black;
  border: none;
  padding: 0; /* Remove padding to make it a full circle */
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}

.arrow:hover{
  color: #7e9483;
}

.arrow.prev {
  left: 120px;
}

.arrow.next {
  right: 100px;
}

.slide-content {
  transform: translateY(-100%) translateX(4.6%);
  font-family: "Radio Canada Big";
}

.carousel-category {
  font-size: 1rem;
  color: #2fa74b;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  transform: translateY(100%);
}

.carousel-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 20px;
  color: #05200b;
  margin-bottom: 10px;
  width: 90vmin;
  letter-spacing: -1px;
}

.carousel-details{
  font-size: 1.2rem;
  color: #7e9483;
  margin-top: -10px;
  width: 70vmin;
}

.dots {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 40vmin;
  transform: translateX(180%) translateY(-197px);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  z-index: 90;
  cursor: pointer;
  border: 10px solid #fafafa;
  
}

.Hameedsheading {
  position: fixed;
  font-size: 12rem;
  color: silver;
  opacity: 0.4;
  letter-spacing: -10px;
  transform: rotate(180deg) translateY(-60%) translateX(0%);
}

.dot.active {
  border: 10px solid #25873c;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.learnmorebutton {
  padding: 10px;
  cursor: pointer;
  letter-spacing: -1px;
  font-size: 1.1rem;
  background-color: #bcd8c2;
  border: none;
  font-weight: 600;
  color: #000;
}

.learnmorebutton:hover{
  opacity: 0.8;
}

.learnmorearrow{
  margin: 10px;
  position: relative;
}

@media (max-width: 767.98px) {

  .carousel {
    transform: translateY(18%);
    background: none;
    height: 83vh;
  }

  .slide img {
    width: 100vw;
    height: 32vh;
    transform: none;
  }

  .slide-content {
    transform: translateY(0%) translateX(1%);
  }

  .Hameedsheading {
  font-size: 4.5rem;
  color: silver;
  letter-spacing: -2px;
  opacity: 0.2;
  transform: rotate(180deg) translateY(-340%) translateX(-10%);
}

.carousel-category {
  font-size: .8rem !important;
  color: #2fa74b;
  font-weight: 600;
  margin-top: -10px;
  transform: translateY(80%);
}

.carousel-title {
  font-size: 1.6rem;
  font-weight: 900;
  width: 88vmin;
}

.carousel-details{
  font-size: 1rem;
  color: #658f6f;
  width: 70vmin;
}

.learnmorebutton {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #bcd8c2;
  border: none;
  font-weight: 600;
}

.learnmorearrow{
  margin: 10px;
}

  .arrow {
   
    top: 24%;
    font-size: 12px;
  }

  .dots {
    display: flex;
    justify-content: end;
    margin-top: -40px;
    margin-left: 10px;
    width: auto;
  transform: translateX(0) translateY(0);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border: 10px solid white;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .arrow.prev {
    left: 10px;
  }
  
  .arrow.next {
    right: 10px;
  }  

}

.Companydetails {
  background-color: #eceaea;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.aboutusimg {
  height: 60vh;
  position: absolute;
  width: 34vmin;
  transform: translateX(150%);
  align-self: flex-start;
}

.companyheading {
  color: #000;
  font-size: 2rem;
  width: 50vmin;
  transform: translateY(100%) translateX(30%);
}

.companypara {
  width: 80vmin;
  height: 60vh;
  transform: translateX(38%);
  font-size: 1rem;
}

.learn-more-button {
  cursor: pointer;
}

.learn-more-button:hover{
  opacity: .5;
}

.about-us-button {
  cursor: pointer;
  margin-left: 320px;
}

@media (min-width: 1668px) and (max-width: 1800px) {

  .aboutusimg {
    height: 60vh;
    position: absolute;
    width: 34vmin;
    transform: translateX(120%);
    align-self: flex-start;
  }

}

@media (min-width: 1482px) and (max-width: 1669px) {

  .aboutusimg {
    height: 60vh;
    position: absolute;
    width: 34vmin;
    transform: translateX(110%);
    align-self: flex-start;
  }

}

@media (min-width: 1364px) and (max-width: 1482px) {

  .aboutusimg {
    height: 60vh;
    position: absolute;
    width: 34vmin;
    transform: translateX(90%);
    align-self: flex-start;
  }

}

@media (min-width: 1242px) and (max-width: 1364px) {

  .aboutusimg {
    height: 60vh;
    position: absolute;
    width: 34vmin;
    transform: translateX(70%);
    align-self: flex-start;
  }

 

}

@media (min-width: 800px) and (max-width: 1242px) {

  .aboutusimg {
    height: 60vh;
    position: absolute;
    width: 34vmin;
    transform: translateX(50%);
    align-self: flex-start;
  }

  .companypara {
    width: 80vmin;
    height: 60vh;
    transform: translateX(38%);
    font-size: .8rem;
  }

}


@media (max-width: 767.98px) {

  .about-us-button {
    margin-left: 150px;
  }
  
.Companydetails {
  background-color: #eceaea;
  height: 206vh;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.companyheading {
  font-size: 3rem;
  color: #000;
  align-self: flex-start;
  transform: translateY(840%);
  margin: 20px;
  z-index: 10;
  font-family: "Radio Canada Big";
  letter-spacing: -1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.aboutusimg {
  position: absolute;
  height: 60vh;
  width: 96vmin;
  transform: translateX(0%);
  align-self: center;
}

.companypara {
  width: 80vmin;
  align-self: center;
  transform: translateY(0%) translateX(0%);
  font-size: 1.3rem;
  margin-top: 640px;
}

}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Radio Canada Big";
  font-size: 28px;
  background-color: rgb(255, 251, 251);
}

.service-item {
  display: flex;
  width: 100%;
  margin: 70px;
  justify-content: center;
  align-items: center;
}

.buildingicon{
margin-left: 2px;
}

.text-container {
  text-align: center;
  padding: 10px;
}

.service-heading{
  margin-right: 10px;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.service-para {
  width: 90%;
  font-size: 1.2rem;
  margin-left: 4%;
}

.service-image {
  max-width: 700px; 
  height: auto;
  margin-bottom: 12px;
  margin-right: 15px;
  border-radius: 2%;
}

.service-item.even .image-container {
  order: 2;
}

.service-item.even .text-container {
  order: 1;
}

.service-item.odd .image-container {
  order: 1;
}

.service-item.odd .text-container {
  order: 2;
}

.client-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between; /* Adjust alignment as needed */
max-width: 800px; /* Adjust max width as needed */
margin: 0 auto;
}

.client-item {
width: 48%; /* Adjust width as needed */
margin-bottom: 10px; /* Adjust margin as needed */
}

.explore-more-button {
padding: 8px 18px;
font-size: 20px !important;
background-color: transparent;
border: none;
transform: translateY(-50%);
margin-left: 50px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
color: orange;
}

.service-link {
text-decoration: none;
color: inherit;
display: flex;
justify-content: center;
align-items: center;
}

.service-link:hover {
background-color: rgba(240, 240, 240, 0.4);

}

.explore-more-container {
display: flex;
justify-content: center;
margin-top: 20px;
text-decoration: none !important;
}


.explore-more-button:hover {
color: gray;
}

.learn-more-button:hover {
color: gray;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
.service-item {
  display: block;
  text-align: center; /* Center the content */
  font-size: 1.3rem;
  margin: 0;
  margin-top: 20px;
}

.main-heading::before {
  width: 5px; 
  height: 4px; 
}

.heading-container {
  margin: 10px;
  margin-left: 10px;
}

.service-para {
  font-size: 1.3rem;
  width: 78vmin;
  font-weight: 300;
  margin-left: 0;
}

.main-heading {
  margin-top: 20px;
  font-size: 2rem;
}
.service-item .image-container {
  width: 80%; /* Adjust image container width */
  margin: 0 auto 10px; /* Center the image */
}

.service-item .text-container {
  width: 80%; /* Adjust text container width */
  margin: 0 auto; /* Center the text */
}

.service-heading {
  font-size: 1.3rem;
}

.explore-more-button {
  margin-top: 0px;
  margin-left: 0px;
  transform: translateY(-20%);
}


.service-item .service-image {
  display: block;
  width: 100%; /* Adjust image width */
}
}

.supportcontainer {
  background-color: rgba(238, 235, 247, 0.25);
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  font-family: "Radio Canada Big";
}

.supportheading {
  margin: 20px;
  font-size: 3rem;
  letter-spacing: -1px;
  font-weight: 700;
}

.contactus{
  margin: 20px;
}

.twopartcontainer {
  display: flex;
  flex-direction: row;
}

.form-divider {
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  margin: 10px;
  padding: 30px;
}

.Contact-Information{
  margin: 20px;
  margin-left: 120px;
}

.supportform-button {
  width: auto;
  border-radius: 6px;
  align-self: center;
  font-size: 1.3rem;
  margin-top: 10px;
}

.supportform-button:hover {
  background-color: transparent;
}

.google-map {
  width: 600px;
  height: 450px;
  border: 0;
}

.contactparagraph:first-of-type {
  font-size: 1.4rem !important;
  font-weight: 700;
  margin-left: -10px;
}

@media (max-width: 767.98px) {

  .google-map {
      width: 100%; /* Make the iframe take the full width of its container */
      height: 30vh; /* Adjust the height as needed */
    }

    .Contact-Information{
      font-size: 1.2rem;
      margin: 0;
    }

    .contactparagraph:first {
      font-size: 2rem !important;
    }
    

  .twopartcontainer {
      display: flex;
      margin: 20px;
      flex-direction: column;
  }

  .form input,
  .form textarea
   {
      margin: 4px;
      margin-top: 10px;
      padding: 30px;
  }

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1%;
  background-color: #ffffff;
  color: #000;
  font-family: "Radio Canada Big";
  height: auto;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-logo img {
  height: 20vh;
}

.footer-number{
  cursor: pointer;
}

.footer-nav {
  list-style-type: none;
  margin-top: 10px;
  text-decoration: none !important;
}

.footer-nav li {
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-decoration: none !important;
}

.footer-link {
  color: inherit; /* Use the parent's color */
  text-decoration: none; /* Remove underline */
}

.footer-text {
  text-align: end;
  font-size: 1.2rem;
}

@media (max-width: 767.98px) {
  .footer {
    height: auto;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  }

  .footer-address p,
  .footer-number p {
    margin: 5px 10px;
    padding: 1%;
  }

  .footer-number{
    margin-left: 5%;
    width: 50%;
  }

  .social-links{
    margin-top: 10px;
  }

  .footer-column {
    flex: 1 0 50%; /* Two columns per row */
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .social-links a {
    margin: 1%;
  }

  .social-icon {
    font-size: 24px;
    color: #fff;
    padding-left: 19%;
    margin-top: 17%;
  }

  .footer-nav {
    list-style-type: none;
    font-size: 1.2rem;

  }

  .request-quote-btn {
    padding: 8px 18px;
    margin-left: 12%;
  }
}
